/*INDEX OCH GLOBAL*/
.container1{
    display:grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr 10%;
    grid-template-areas:
    'hd hd hd hd hd'
    'ct ct ct ct ct'
    'ct ct ct ct ct'
    'ft ft ft ft ft';
}
body{
    margin: 0;
}
#header1{
    display: grid;
    grid-area:hd;
    background-color: #2C3E50; 
    height:100%;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
    'lg h2 nv';
}
#nav1{
    grid-area:nv;
    font-family: ;
    display:flexbox;
    justify-content: center;
    align-content: center;
    font-size: larger;
}
#logo{
    grid-area:lg;
}
#subheader{
    grid-area:h2;
}
#placeholder{
    grid-area:tp;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#main1{
    grid-area:mn;
    display:flex;
    justify-content: space-between;
    gap:2%;
}
#footer1{
    grid-area:ft;
    column-count: 4;
    column-gap:0;
    color:#a3a3a3;
    width: 100%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10%;
    background-color: #191919;
    width: 20%;
    
}

.containerCard{
    padding: 0 0 2px 10%;
white-space: pre-line;
}
.cardimg{
    border-radius: 10% 10% 0 0;
    height: 40vh;
    
}
.content{
    display:grid;
    grid-area:ct;
    background-image: url("../img/bakgrundhomepageWU.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 3fr;
    grid-template-areas: 
    "tp tp tp tp tp"
    "mn mn mn mn mn";
}

.cardtext{
    color: #ffffff;

}
.maintext{
    font-size: 150%; 
    text-align: center; 
    color:#191919; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.textHEADER {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    color:#ffffff;
    text-decoration:none;
}

a:hover{
    color:#E74C3C;
}

img{
    max-width: 100%;
    height: auto;
}

/*HEALTH*/
.container2{
    display:grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 60vh 60vh 10%;
    grid-template-areas:
    'hd hd hd hd hd'
    'ct ct ct ct ct'
    'ct ct ct ct ct'
    'ft ft ft ft ft';
}
#main2{
    grid-area:mn;
    display:flex;
    justify-content: space-between;
    gap:2%;
}